@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
}

html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
      }
}

/* Temp */

.container {
    margin: 2em 1em;
    max-width: 50em;
    margin: 0 auto;
}
/* end temp */

/* Hero */
.hero-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(52, 79, 170, 0.4),rgba(52, 79, 170, 0.7)), url("/assets/header.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    
}

/* end Hero */

.btn {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.btn__primary--color {
    background: #ed3330;
}

.btn:hover {
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

.btn__primary--color:hover {
    background: #f13d3a;
}

.hidden {
    display: none;
}